page-home {
  .selected-dice {
    width:400px;
    padding: .5em;
    text-align:center
  }
  .button {
    width:120px;
    height:120px;
    background:white;
    color:black;
    padding: .5em;
    text-align:center
  }

}
