<ion-header>
  <ion-navbar>
    <ion-title>
      Dice Cooker
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Available dice</h1>
  <div class="flex-container">
    <div class="die-choice" *ngFor="let die of available_dice"><button ion-button (click)="stage(die)" [innerHTML]="die.markup"></button></div>
  </div>
  <hr>
  <div class="flex-container">
    <div class="selected-die" *ngFor="let die of staged_dice" [innerHTML]="die.markup"></div>
    <button *ngIf="staged" ion-button (click)="roll()">Roll</button>
  </div>
  <hr>
  <h1 *ngIf="rolled">Results</h1>
  <ul>
    <li *ngFor="let roll of rolls">{{roll[1]}}</li>
  </ul>
</ion-content>
